<div class="container-float">
<h1 class="display-4 text-center mb-5 title">Eat-Da-Burger!</h1>
<div class="row mt-5">
  <div class="col-6 listItem">
<h3 class="title text-center">Devoured</h3>
  <ul class="list-group listItem">
    {{#each devoured}}
    <li class="list-group-item p-0 mb-3 listItem">
      <p class="m-0 p-0">
        {{this.burger_name}}
                  <button class="btn btn-danger float-right p-2 m-0" onClick="eatBurger('{{this.burger_name}}',0,{{this.id}})">Make one!</button>
      </p>
    </li>
    {{/each}}
  </ul>
  </div>
  <div class="col-6 listItem">
  <h3 class="title text-center">Waiting to be devoured</h3>
  <ul class="list-group">
    {{#each notDevoured}}
    <li class="list-group-item p-0 mb-3 listItem">
      <p class="m-0 p-0">
        {{this.burger_name}} 
          <button class="btn btn-danger float-right p-2 m-0" onClick="eatBurger('{{this.burger_name}}',1,{{this.id}})">Eat!</button>
      </p>
    </li>
    {{/each}}
  </ul>
  </div>
</div>
<div class="text-center addItem p-0 m-0">
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burgerName" name="burgerName">
  </div>

  <button class="btn btn-success mb-3" type="submit" onClick="addBurger($('#burgerName').val())">Add Burger</button>
</form>
</div>
<div class="lettuce">

</div>
</div>